<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ScholarShop</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico">
  <script src="/js/font.js"></script>
</head>
<body>
    <header>
        </header>
    <main>
      <h2>最新の商品</h2>
      <ul>
        <% @items.each do |item| %>
          <a href="/item/<%= item.id %>"><li><%= item.price %> <%= item.name %> <%= item.image %> </li></a>
        <% end %>

        <li> <!-- each do使う？？ あとulとliの違いはなんですか-->
    <!-- <a href=""    ####詳細ページ> -->
        <h3>商品名</h3>
        <p>値段</p>
        <p>ジャンル</p>
  </li>
<ul>
      
</main>
</body>
</html>