<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ScholarShop</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico">
  <script src="/js/font.js"></script>
</head>
<body>
    <header>
        </header>
    <main>
<h2>新規登録</h2>
<h3><%= @item.name %></h3>
</main>
</body>
</html>