<h2>新規登録</h2>
<form action="/register" method="post">
 <label for="email">メールアドレス</label>
 <input type="email" id="email" name="email" placeholder="scholarshop@example.com">
 <label for="name">表示名</label>
 <input type="text" id="name" name="name" placeholder="小泉右">
 <label for="password">パスワード</label>
 <input type="password" id="password" name="password" placeholder="Password123">
 <button type="submit">ー続行するー</button>
</form>