<h2>詳細</h2>
<% 
　　sender="太郎"
　　receiver="花子"
%>  <!-- 自分と相手のニックネームを取得＝sender、receiver -->
<!-- メッセージを取得してラインみたいにチャット形式で表示 -->
<p>投函済み</p>
<p>受け取り開始</p><!-- 投函済みであればこのように書いてください -->
<p>*受け取り場所にて今すぐ受け取れる状態になってから押してください。録画が開始されます。</p>
